/* My Styles
-----------------------------------------------------------*/

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    color: #000;
    font: 16px Verdana, Tahoma, "MS Sans Serif",sans-serif;
    text-align: left;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

footer {
  position: absolute;
  bottom: 0;
  left:50%; 
  margin-left:-500px;
  width: 1000px;

  height: 60px;
  background-color: #f5f5f5;
  text-align: center;

}

.minWidth{
    margin: 0 auto;
    width: 1000px;
    position: relative;
    text-align: left;
}

header{
    padding-top: 20px;
    padding-bottom: 20px;
    /*border: 2px solid black;*/
    background-color: #222;
}

.logo {
    float: left;
    margin-bottom: -12px;
    margin-left: 0px;
    padding-top: 10px;
    position: relative;
    width: 120px;
    text-align:center;
    color: white;
    /*border: 2px solid black;*/
}

.search-string {
    border-width: 0px;
    box-sizing: border-box;
    font: 17px/20px Arial,Helvetica,sans-serif;
    height: 32px;
    margin: 0;
    padding: 7px 8px 5px;

    width: 100%;
    padding-right: 166px;

/*    background-color: transparent;*/
background-color: white;

    /*border: 2px solid black;*/
}


.search_form {
    border-radius: 6px;
    padding: 4px;

    position: relative;
  box-sizing: border-box;
  padding-left: 126px;
    width: 100%;
}

.search_button {

    
    width: 160px;
    height: 32px;
    vertical-align: top;

    position: absolute;
    right: 4px;
    top: 4px;

    background-color: white;
    border: 2px solid white;
    border-left: 2px solid black;
}

.mn-layout__inner {
    /*border-left: 1px solid #e6e6e6;*/
    /*margin-left: 219px;*/
    margin-left: 250px;
    padding-top: 30px;
}


.mn-layout__col-1 {
    /*border-right: 1px solid #e6e6e6;*/
    float: left;
   /* margin-left: -221px;*/
    margin-left: -250px;
    position: relative;
    width: 220px;
    /*z-index: 2;*/
}


.mn-layout__col-2 {
    /*float: right;*/
    width: 100%;
}

.menu_title {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}



/* Default Styles
-----------------------------------------------------------*/
/*
body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color:#a0522d;
    background-color:#f5deb3;
}

header, footer, nav, section {
    display: block;
}
    */
/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #8b4513;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/*------------------------------*/
.image_min
{
    width: 100px;
}

.image_max
{
    border: 1px solid #aba9a8;
    border-radius: 15px;
    float: right;
    padding: 10px;
    width: 300px;
}